@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

li {
  list-style: none;
}

@layer base {
  h3 {
    @apply text-gray-600 font-semibold;
  }

  h4 {
    @apply text-gray-600 font-semibold;
    font-size: 14px;
  }


  span {
    @apply font-normal text-gray-400;
    font-size: 14px;
  }

  label {
    @apply font-medium text-gray-500;
    font-size: 14px;
  }

}